<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.xwalk.test" >

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/crosswalk"
        android:theme="@android:style/Theme.Holo.Light"
        android:allowBackup="true" >

        <meta-data android:name="xwalk_apk_url" android:value="http://10.0.2.2/XWalkRuntimeLib.apk" />
        <meta-data android:name="xwalk_lib_url" android:value="http://10.0.2.2/XWalkRuntimeLib.zip" />

        <activity
            android:name="org.xwalk.test.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.xwalk.test.XWalkActivityActivity"
            android:label="@string/xwalkactivity"
            android:parentActivityName="org.xwalk.test.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.xwalk.test.XWalkInitializerActivity"
            android:label="@string/xwalkinitializer"
            android:parentActivityName="org.xwalk.test.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.xwalk.test.XWalkDownloadActivity"
            android:label="@string/xwalkdownload"
            android:parentActivityName="org.xwalk.test.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.xwalk.test.XWalkViewActivity"
            android:label="@string/xwalkview"
            android:parentActivityName="org.xwalk.test.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.xwalk.test.WebViewActivity"
            android:label="@string/webview"
            android:parentActivityName="org.xwalk.test.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

    </application>

</manifest>
